---
import Layout from "../../layouts/Layout.astro";
import PokemonCard, { cardBgList } from "@Components/PokemonCard";
import type { IPokemon } from "pokeapi-typescript";

const title = "ポケモン一覧ページ";

const promises: Promise<IPokemon>[] = [...Array(100).keys()].map(
  async (pokemonId: number) => {
    const data = await fetch(
      `https://pokeapi.co/api/v2/pokemon/${pokemonId + 1}`
    );
    return data.json() as unknown as IPokemon;
  }
);

const pokemonList = await Promise.all(promises);
---

<Layout title={title}>
  <main class="m-auto max-w-[60%] mt-10">
    <h1 class="text-4xl font-semibold mb-4">{title}</h1>
    <div class="flex gap-6 flex-wrap">
      {
        pokemonList.map((pokemon, index) => (
          <PokemonCard
            bgColor={cardBgList[index % cardBgList.length]}
            pokemon={pokemon}
          />
        ))
      }
    </div>
  </main>
</Layout>
